<div class="min-height">
  <div class="bg-custom text-white section-heading">
    <div class="container-fluid">
      <h2 class="text-center">Thank you for booking a tour!</h2>
    </div>
  </div>

  <h2 class="text-center pt50">We will get back to you shortly.</h2>
</div>