<div class="jumbotron bg-custom text-white">
  <div class="container-fluid">
    <h2 class="text-center">Paramount of Oak Park’s “Circle of Care”</h2>
  </div>
</div>

<div class="section-wrapper mb20">
  <p>The “Circle of Care” represents the important relationships that our residents have and how they interconnect to form a continuum of care.</p>

  <p><strong>It is essential</strong> to continue the continuum of care that has been set by the physician, hospital, home health or other provider.  At Paramount of Oak Park <strong>we welcome</strong> physicians to follow their patients, and if a hospitalization is needed, we make every effort to return the resident to the hospital of their previous care.<p>

  <p><strong>The relationships that our residents have</strong> at home are equally important. Wherever our residents live, we recognize the importance of the concept of “home.”</p>

  <p><strong>The residents’ goals are our goals as well,</strong> and are achieved by keeping an open line of communication with him or her, with their family, with the senior community, the physician, the hospital, and the home health agency.</p>

  <p><strong>If home health or other home services are needed</strong> when the resident returns home, we will coordinate these services to provide a stress-free and convenient transition home.</p>

  <p><strong>Our commitment to the continuity, to the circle of care, is “Paramount.”</strong></p>
</div>