<% title 'Paramount|Circle of Care' %>
<% meta_description 'The “Circle of Care” represents the important relationships that our residents have and how they interconnect to form a continuum of care.' %>

<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center"><%= @circle_of_care.title %></h2>
  </div>
</div>

<br>
<div class="text-center">
  <div class="full-circle text-white">
    <br>
    Paramount
    <br>
    of
    <br>
    Oak Park
  </div>
</div>

<div class="section-wrapper mb20 pt30">
  <%= render partial: 'components/component', locals: { component: @circle_of_care, name: 'circle_of_care' } %>
</div>