<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center"><%= @circle_of_care.title %></h2>
  </div>
</div>

<div class="section-wrapper mb20 pt30">
  <%= render partial: 'components/component', locals: { component: @circle_of_care, name: 'circle_of_care' } %>
</div>