<% title 'Paramount|Dementia Care' %>
<% meta_description 'Paramount of Oak Park is proud to offer a unique range of services for those residents with dementia.  Our staff is trained in the latest forms...' %>

<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center"><%= @dementia_care.title %></h2>
  </div>
</div>

<div class="section-wrapper mb20 pt30">
  <%= render partial: 'components/component', locals: { component: @dementia_care, name: 'dementia_care' } %>
</div>