<div class="jumbotron">
  <div class="container-fluid">
    <h2 class="text-center">Dementia Services</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
    <p>Paramount of Oak Park is proud to offer a unique range of services for those residents with dementia.  Our staff is trained in the latest forms of therapy and care for the dementia patient, and we offer a warm, comfortable, and safe atmosphere.</p>

    <p>The daily routine and plan of care for the dementia patient will differ from individual to individual, but it begins with a thorough analysis and consultation with the resident’s caregivers, family, and medical team.  We make sure to involve everyone with whom the resident is familiar and comfortable, so as to lessen any stress on him or her.</p>

    <p>At Paramount of Oak Park, we focus on our staff education, and therapeutic programming in order to implement a "habilitation" model of care. Habilitation focuses on maintaining the skills, interests and abilities the resident has, a proven successful model for treating the dementia resident.</p>

    <p>In addition, we encourage and welcome family and friends to visit, talk to our caregivers, and check in on the status of their loved one.</p>
  </div>
</div>