<div class="jumbotron text-center">
  <div class="container-fluid">
    <h1>Paramount of Oak Park</h1>
  </div>
</div>

<div class="quick-form-container bg-custom pt50 pb40 pb50-sm">
  <div class="container">
      <h2 class="title title-bottom-border gray text-white"><span class="light">Make an</span> Appointment</h2>
      <form action="#" class="row">
          <div class="col-md-10">
              <div class="row">
                  <div class="col-sm-4">
                      <label>Full name</label>
                      <input type="text" class="form-control" id="contactname" name="contactname" placeholder="Name" required>
                  </div><!-- End .col-md-4 -->
                  <div class="col-sm-4">
                      <label>Email</label>
                      <input type="email" class="form-control" id="contactemail" name="contactemail" placeholder="Email" required>
                  </div><!-- End .col-md-4 -->
                  <div class="col-sm-4">
                      <label>Department</label>
                      <select class="form-control">
                          <option value="Department Name">Department Name</option>
                          <option value="Department Name">Department Name</option>
                          <option value="Department Name">Department Name</option>
                          <option value="Department Name">Department Name</option>
                      </select>
                  </div><!-- End .col-md-4 -->
              </div><!-- End .row -->
          </div><!-- End .col-md-10 -->

          <div class="clearfix mb10 visible-sm visible-xs"></div><!-- margin -->

          <div class="col-md-2">
              <input type="submit" class="btn btn-custom2 btn-block" value="Appointment">
          </div><!-- End .col-md-2 -->
      </form>
  </div><!-- End .container -->
</div><!-- End .quick-form-container -->

<div class="row section">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <h3>Welcome! We’re pleased that you are considering Paramount of Oak Park as a short or long term residence for yourself or your loved one.</h3>
    <h4>Before you read any further, there is one thing we want you to know.</h4>
  </div>
</div>

<div class="row section">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <h2>We want you to feel at home.</h2>
    <h4>At Paramount of Oak Park, you are part of our family.  As a resident, or family member of a resident, we welcome you and want you to feel as comfortable as possible.</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-5 col-lg-offset-1">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-5">
    <h4>We offer:</h4>
    <ul>
      <li>A full service nursing center</li>
      <li>A complete restorative therapy program</li>
      <li>Short term stays for respite, recovery/rehabilitation</li>
      <li>Hospice care</li>
      <li>Dementia services</li>
      <li>State of the art rehabilitative equipment</li>
      <li>Professional, friendly, and caring health professionals</li>
    </ul>
    <br>
    <h4>We invite you to visit us</h4>
    <p>Come for a meal, take a tour, and discover how our family can care for your family.</p>
    <p>We thank you for considering Paramount of Oak Park as the place for you or your loved one to call home for however long you need us. It is “paramount” to us to provide a comfortable and friendly environment, and we are proud of our facility and our staff.</p>
  </div>
</div>

<div class="row section">
  <div class="col-sm-12 col-md-12 col-lg-5 col-lg-offset-1 checklist">
    <h3>Services</h3>
    <h4>Listed below are just some of the specialized services we offer to you</h4>
    <ul>
      <li> &nbsp; 24-hour nursing care coverage</li>
      <li> &nbsp; Physical Therapy, Occupational Therapy, Speech Therapy</li>
      <li> &nbsp; E-Stim Therapy</li>
      <li> &nbsp; Diathermy</li>
      <li> &nbsp; Therapeutic Ultrasound</li>
      <li> &nbsp; Personalized Rehabilitation Programs</li>
      <li> &nbsp; Enteral (tube) Feeding and IV Therapy Services</li>
      <li> &nbsp; Restorative Therapy Program</li>
      <li> &nbsp; Dental, Podiatry, Psychiatry, Audiology, Dermatology and Optometry care (by appointment)</li>
      <li> &nbsp; Short-Term stays</li>
      <li> &nbsp; Wound Care</li>
      <li> &nbsp; Tracheostomy Care</li>
      <li> &nbsp; Private Pay, Medicare, Medicaid and Some Private Insurance accepted</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-5 checklist">
    <h3>Amenities and Activities</h3>
    <h4>Paramount of Oak Park is a full service residence – and we are proud to provide a beautiful, bright, attractive facility which offers ample opportunities for entertainment and outings.</h4>
    <ul>
      <li> &nbsp; Daily housekeeping</li>
      <li> &nbsp; On-site laundry services</li>
      <li> &nbsp; Cable TV</li>
      <li> &nbsp; Transportation aide available for off-site appointments and activities</li>
      <li> &nbsp; Live entertainment</li>
      <li> &nbsp; Arts and Crafts</li>
      <li> &nbsp; Morning exercise</li>
      <li> &nbsp; Resident spotlights</li>
      <li> &nbsp; Monthly birthday parties</li>
      <li> &nbsp; Holiday parties</li>
      <li> &nbsp; Walk-in Tub</li>
      <li> &nbsp; Rehabilitation Unit</li>
    </ul>
  </div>
</div>

<div class="row section">
  <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
    <h2 class="text-center">Social Services</h2>
      <p>Transitions can be hard for everyone involved. If you or a loved one is being transferred to a rehabilitative facility, you probably have many questions and concerns.</p>
      <p>We want to help.</p>
      <p>Our staff of professional social workers will help ease those transitions and become part of your care team.  They will continue to provide support, answer questions, and work with you to find solutions for every problem that arises.</p>
      <p>If paperwork and insurance issues are becoming confusing, the Social Services Department  will work with you to explain how and what to do, and will work with you to make any necessary arrangements upon discharge.  If needed, a social worker can also help with Advance Directives or arranging hospice services.</p>
  </div>
</div>

<div class="row section">
  <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
    <h2 class="text-center">Rooms</h2>
      <p>We offer both Semi-Private and Private rooms.</p> 
      <p>Each room is well-designed to feel homey while remaining functional.</p>
      <p>Want to make your room feel more like home?  Feel free to bring items from home to personalize and decorate your room!</p>
  </div>
</div>

<div class="row section">
  <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
    <h2 class="text-center">Care Is Paramount</h2>
      <p>We can never say enough about our devotion to our residents and their comfort, both physical and emotional.  Our residents, their families, and their friends are part of our own family and will be treated with utmost respect and dedication.  Come visit us and see for yourself.</p>
  </div>
</div>