<% title 'Paramount|Hiring/Referral Bonus' %>
<% meta_description 'Any employee, who refers a candidate for a nursing position, and that candidate gets hired, FULL TIME, will be eligible for a $300.00 referral bonus,' %>

<!-- =========================== HIRING BONUS =============================== -->
<!-- Paramount of Oak Park Nursing & Rehab -->
<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center"><%= @hiring_bonus.title %></h2>
  </div>
</div>

<div class="section-wrapper mb30 pt40 checklist">
  <%= render partial: 'components/component', locals: { component: @hiring_bonus, name: 'hiring' } %>
</div>
<!-- ========================= END HIRING BONUS =================================== -->

<!-- ============================== REFERRAL BONUS ================================= -->
<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center"><%= @referral_bonus.title %></h2>
  </div>
</div>

<div class="section-wrapper mb30 pt40 checklist">
  <%= render partial: 'components/component', locals: { component: @referral_bonus, name: 'referral' } %>
</div>
<!-- =============================== END REFERRAL BONUS ================================== -->