<!-- =========================== HIRING BONUS =============================== -->
<!-- Paramount of Oak Park Nursing & Rehab -->
<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center">Hiring Bonus</h2>
  </div>
</div>

<div class="section-wrapper mb20 pt30 checklist">
  <h2 class="mb5 pt20">CNA-  $500.00, paid over a year, quarterly, if the following criteria is met:</h2>
  <ul>
    <li> Hired as a Full Time employee</li>
    <li> Work your schedule as assigned</li>
    <li> Any call off, regardless of reason, will disqualify payment of the bonus, for that quarter.</li>
    <li> You will be eligible for the bonus, once a new quarter commences and above criteria is met.</li>
  </ul>

  <h2 class="mb5 pt20">LPN- $1000.00 paid over a year, quarterly, if the following criteria is met:</h2>
  <ul>
    <li> Hired as a Full Time employee</li>
    <li> Work your schedule as assigned</li>
    <li> Any call off, regardless of reason, will disqualify payment of the bonus, for that quarter.</li>
    <li> You will be eligible for the bonus, once a new quarter commences and above criteria is met.</li>
  </ul>

  <h2 class="mb5 pt20">RN- $1500.00 paid over a year, quarterly, if the following criteria is met:</h2>
  <ul>
    <li> Hired as a Full Time employee</li>
    <li> Work your schedule as assigned</li>
    <li> Any call off, regardless of reason, will disqualify payment of the bonus, for that quarter.</li>
    <li> You will be eligible for the bonus, once a new quarter commences and above criteria is met.</li>
  </ul>
</div>
<!-- ========================= END HIRING BONUS =================================== -->

<!-- ============================== REFERRAL BONUS ================================= -->
<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center">Referral Bonus</h2>
  </div>
</div>
<div class="section-wrapper mb20 pt30 checklist">
  <h2 class="mb5 pt20">Any employee, who refers a candidate for a nursing position, and that candidate gets hired, FULL TIME, will be eligible for a $300.00 referral bonus,  if the following criteria is met by the newly hired employee:</h2>
  <ul>
    <li> Work their assigned schedule</li>
    <li> No call off for the first 90 days, regardless of the reason</li>
  </ul>
</div>
<!-- =============================== END REFERRAL BONUS ================================== -->