<div class="main">
    <div id="rev_slider_wrapper" class="slider-container-agency4 rev_slider_wrapper rev_container_1 fullwidthbanner-container" data-alias="classicslider1">
        <div id="rev_slider" class="rev_slider fullwidthabanner" style="display:none;">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="assets/images/homepages/index-agency4/slide1-100x50.jpg" data-saveperformance="off" data-title="Agency">

                    <!-- MAIN IMAGE -->
                    <img src="assets/images/homepages/index-agency4/slide1.jpg" alt="Slider bg 1" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['center','center','center','center']" data-voffset="['0','0','0','0']" 
                        data-width="full"
                        data-height="full"
                        data-whitespace="nowrap"
                        data-transform_idle="o:0.5;"
                        data-transform_in="opacity:0;s:1500;" 
                        data-transform_out="o:0;s:1000;" 
                        data-start="1000" 
                        data-basealign="slide" 
                        data-responsive_offset="on" 
                        data-responsive="off"
                        style="z-index: 3; background-color: rgba(0,0,0, 0.5);"> 
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['center','center','center','center']" data-voffset="['-76','-66','-62','-45']" 
                        data-fontsize="['17','15','14','12']"
                        data-fontweight="400"
                        data-lineheight="['20','18','16','16']"
                        data-color="#fff"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":1200,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-responsive_offset="on" 
                        style="z-index: 4; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">To Create better things!
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['center','center','center','center']" data-voffset="['-21','-17','-16','-2']" 
                        data-fontsize="['64','56','48','38']"
                        data-fontweight="700"
                        data-lineheight="['70','64','60','46']"
                        data-color="#fff"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":1600,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-responsive_offset="on" 
                        style="z-index: 5; text-shadow:0 1px 3px rgba(0,0,0, 0.2);letter-spacing: 3px; letter-spacing: 2px; text-transform: uppercase;">Simple Agency
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['center','center','center','center']" data-voffset="['36','36','30','35']" 
                        data-width="none"
                        data-height="none"
                        data-fontsize="['24','20','18','14']"
                        data-fontweight="300"
                        data-lineheight="['30','24','22','20']"
                        data-visibility="['on', 'on', 'on', 'off']"
                        data-color="#fff"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-responsive_offset="on" 
                        style="z-index: 6; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                            Let's make world a better place!
                    </div>

                    <a class="tp-caption btn btn-lg btn-custom min-width tp-resizeme rs-parallaxlevel-0" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['center','center','center','center']" data-voffset="['102','96','86','84']" 
                        data-witdh="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":2400,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-transform_hover="o:0.9;s:300;e:Linear.easeNone;"
                        data-style_hover="bg:#c00f3c;c:#fff;bc:#c00f3c;s:300;e:Linear.easeNone;"
                        data-responsive_offset="on" 
                        style="z-index: 7;"
                        href="#">See Services!
                    </a>
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="assets/images/homepages/index-agency4/slide2-100x50.jpg" data-saveperformance="off" data-title="Creative">

                    <!-- MAIN IMAGE -->
                    <img src="assets/images/homepages/index-agency4/slide2.jpg" alt="Slider bg 2" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['center','center','center','center']" data-voffset="['0','0','0','0']" 
                        data-width="full"
                        data-height="full"
                        data-whitespace="nowrap"
                        data-transform_idle="o:0.5;"
                        data-transform_in="opacity:0;s:1500;" 
                        data-transform_out="o:0;s:1000;" 
                        data-start="1000" 
                        data-basealign="slide" 
                        data-responsive_offset="on" 
                        data-responsive="off"
                        style="z-index: 3; background-color: rgba(0,0,0, 0.5);"> 
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['center','center','center','center']" data-voffset="['-76','-66','-62','-45']" 
                        data-fontsize="['17','15','14','12']"
                        data-fontweight="400"
                        data-lineheight="['20','18','16','16']"
                        data-color="#fff"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":1200,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-responsive_offset="on" 
                        style="z-index: 4; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                        We provide the best
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['center','center','center','center']" data-voffset="['-21','-17','-16','-2']" 
                        data-fontsize="['64','56','48','38']"
                        data-fontweight="700"
                        data-lineheight="['70','64','60','46']"
                        data-color="#fff"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":1600,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-responsive_offset="on" 
                        style="z-index: 5; text-shadow:0 1px 3px rgba(0,0,0, 0.2);letter-spacing: 3px; letter-spacing: 2px; text-transform: uppercase;">Creative Agency
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['center','center','center','center']" data-voffset="['36','36','30','35']" 
                        data-width="none"
                        data-height="none"
                        data-fontsize="['24','20','18','14']"
                        data-fontweight="300"
                        data-lineheight="['30','24','22','20']"
                        data-visibility="['on', 'on', 'on', 'off']"
                        data-color="#fff"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-responsive_offset="on" 
                        style="z-index: 6; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                            Get the best deals on the market
                    </div>

                    <a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['center','center','center','center']" data-voffset="['102','96','86','84']" 
                        data-witdh="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":2400,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-transform_hover="o:0.9;s:300;e:Linear.easeNone;"
                        data-style_hover="bg:#0069b0;c:#fff;bc:#0069b0;s:300;e:Linear.easeNone;" 
                        data-responsive_offset="on" 
                        style="z-index: 7;"
                        href="#">Get in touch!
                    </a>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="height: 4px; background-color: rgba(255, 255, 255, 0.4);"></div>
        </div><!-- End #rev_slider -->
    </div><!-- END REVOLUTION SLIDER -->

    <div class="mb50"></div><!-- margin -->

    <div class="container">
        <h2 class="title text-center mb35">What we offer?</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="service text-center">
                    <img src="assets/images/services/index-agency4/html.svg" alt="HTml" width="68" class="img-responsive">
                    <h3 class="service-title">Web Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem semsila eaque, rem!.</p>
                </div><!-- End .service -->
            </div><!-- End .col-sm-4 -->

            <div class="col-sm-4">
                <div class="service text-center">
                    <img src="assets/images/services/index-agency4/share.svg" alt="HTml" width="68" class="img-responsive">
                    <h3 class="service-title"> Social Media</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem semsila eaque, rem!.</p>
                </div><!-- End .service -->
            </div><!-- End .col-sm-4 -->

            <div class="col-sm-4">
                <div class="service text-center">
                    <img src="assets/images/services/index-agency4/support.svg" alt="HTml" width="68" class="img-responsive">
                    <h3 class="service-title">Support</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni dignissimos rem semsila eaque, rem!.</p>
                </div><!-- End .service -->
            </div><!-- End .col-sm-4 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb25 mb5-xs"></div><!-- margin -->

    <div class="table-row bg-white border">
        <div class="table-cell cell-image overlay-container video-btn-section" style="background-image:url(assets/images/backgrounds/index-agency4/bg1.jpg)">
                <a href="http://www.youtube.com/watch?v=8IHEXBP9g3E" class="trigger-video-btn wow rotateIn"><i class="fa fa-play"></i></a>

            <div class="overlay custom2"></div><!-- End .overlay -->
        </div><!-- End .table-cell -->
        <div class="table-cell cell-content">
            <div class="row">
                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-diamond icon-bg custom"></i>
                        <h3 class="service-title">Web Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->

                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-edit icon-bg custom"></i>
                        <h3 class="service-title">Advertisement</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->
            </div><!-- End .row -->

            <div class="mb10"></div><!-- margin -->

            <div class="row">
                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-share icon-bg custom"></i>
                        <h3 class="service-title">Social Media</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->
                
                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-cogs icon-bg custom"></i>
                        <h3 class="service-title">Support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->
            </div><!-- End .row -->

            <div class="mb10"></div><!-- margin -->

            <div class="row">
                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-bar-chart icon-bg custom"></i>
                        <h3 class="service-title">Analytics</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->
                
                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-mobile icon-bg custom"></i>
                        <h3 class="service-title">Mobile App</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->
            </div><!-- End .row -->
        </div><!--End .table-cell  -->
    </div><!-- End .table-row -->

    <div class="table-row bg-white border">
        <div class="table-cell cell-content">
            <div class="row">
                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-diamond icon-bg custom"></i>
                        <h3 class="service-title">Web Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->

                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-edit icon-bg custom"></i>
                        <h3 class="service-title">Advertisement</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->
            </div><!-- End .row -->

            <div class="mb10"></div><!-- margin -->

            <div class="row">
                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-share icon-bg custom"></i>
                        <h3 class="service-title">Social Media</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->
                
                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-cogs icon-bg custom"></i>
                        <h3 class="service-title">Support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->
            </div><!-- End .row -->

            <div class="mb10"></div><!-- margin -->

            <div class="row">
                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-bar-chart icon-bg custom"></i>
                        <h3 class="service-title">Analytics</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->
                
                <div class="col-xs-6 col-xss-12">
                    <div class="service icon-left">
                        <i class="fa fa-mobile icon-bg custom"></i>
                        <h3 class="service-title">Mobile App</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digniss.</p>
                    </div><!-- End .service -->
                </div><!-- End .col-xs-6 -->
            </div><!-- End .row -->
        </div><!--End .table-cell  -->
        <div class="table-cell cell-image overlay-container video-btn-section"  style="background-image:url(assets/images/backgrounds/index-agency4/bg2.jpg)">
            <a href="http://www.youtube.com/watch?v=NvaZ8Lietas" class="trigger-video-btn wow rotateIn" data-wow-delay="0.15s"><i class="fa fa-play"></i></a>

            <div class="overlay custom2"></div><!-- End .overlay -->
        </div><!-- End .table-cell -->
    </div><!-- End .table-row -->

    <div class="mb50"></div><!-- margin -->

    <div class="container">
        <h2 class="title text-center mb35">Meet the Team</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="member text-center">
                    <div class="member-top">
                        <figure>
                            <img src="assets/images/team/member1.jpg" alt="Member Name">
                        </figure>
                        <div class="social-icons">
                            <label>Find me:</label>
                            <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                            <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .member-top -->
                    <h3 class="member-title">James Smith <small>(Ceo)</small></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit osam error quo.</p>
                </div><!-- End .member -->
            </div><!-- End .col-sm-4 -->

            <div class="col-sm-4">
                <div class="member text-center">
                    <div class="member-top">
                        <figure>
                            <img src="assets/images/team/member2.jpg" alt="Member Name">
                        </figure>
                        <div class="social-icons">
                            <label>Find me:</label>
                            <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="social-icon" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                            <a href="#" class="social-icon" title="Flickr"><i class="fa fa-flickr"></i></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .member-top -->
                    <h3 class="member-title">Sarah Smith <small>(Senior Designer)</small></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit osam error quo.</p>
                </div><!-- End .member -->
            </div><!-- End .col-sm-4 -->

            <div class="col-sm-4">
                <div class="member text-center">
                    <div class="member-top">
                        <figure>
                            <img src="assets/images/team/member3.jpg" alt="Member Name">
                        </figure>
                        <div class="social-icons">
                            <label>Find me:</label>
                            <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                            <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="social-icon" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .member-top -->
                    <h3 class="member-title">Michael Sata <small>(Designer)</small></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit osam error quo.</p>
                </div><!-- End .member -->
            </div><!-- End .col-sm-4 -->
        </div><!-- End .row -->

        <div class="row">
            <div class="col-sm-4">
                <div class="member text-center">
                    <div class="member-top">
                        <figure>
                            <img src="assets/images/team/member4.jpg" alt="Member Name">
                        </figure>
                        <div class="social-icons">
                            <label>Find me:</label>
                            <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                            <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="social-icon" title="Flickr"><i class="fa fa-flickr"></i></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .member-top -->
                    <h3 class="member-title">Dean jonah <small>(Developer)</small></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit osam error quo.</p>
                </div><!-- End .member -->
            </div><!-- End .col-sm-4 -->

            <div class="col-sm-4">
                <div class="member text-center">
                    <div class="member-top">
                        <figure>
                            <img src="assets/images/team/member5.jpg" alt="Member Name">
                        </figure>
                        <div class="social-icons">
                            <label>Find me:</label>
                            <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="social-icon" title="Flickr"><i class="fa fa-flickr"></i></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .member-top -->
                    <h3 class="member-title">Rachel James <small>(Jr. Designer)</small></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit osam error quo.</p>
                </div><!-- End .member -->
            </div><!-- End .col-sm-4 -->

            <div class="col-sm-4">
                <div class="member text-center">
                    <div class="member-top">
                        <figure>
                            <img src="assets/images/team/member6.jpg" alt="Member Name">
                        </figure>
                        <div class="social-icons">
                            <label>Find me:</label>
                            <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                            <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .member-top -->
                    <h3 class="member-title">Ross David <small>(Jr. Developer)</small></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit osam error quo.</p>
                </div><!-- End .member -->
            </div><!-- End .col-sm-4 -->
        </div><!-- end .row -->
    </div><!-- End .container -->

    <div class="mb20"></div><!-- End .margin -->

    <div class="testimonials-container pt60 pb50 pt50-xs pb45-xs bg-image text-white overlay-container text-center" style="background-image:url(assets/images/backgrounds/index-agency4/testimonials-bg.jpg)">
        <div class="container">
            <h2 class="title text-center text-white mb20">Testimonials</h2>

            <div class="testimonials-wrapper">

                <div class="testimonials-slider owl-carousel">
                    <div class="testimonial transparent">
                        <blockquote>
                            <figure>
                                <img src="assets/images/testimonials/user1.jpg" alt="James Richard">
                            </figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti doloribus sapiente aliquam incidunt, nostrum voluptas unde dolor quam possimus omnis deserunt magni itaque saepe sunt. Autem neque a laborum provident.</p>
                            <cite>James Richard Jr.</cite>
                        </blockquote>
                    </div><!-- End .testimonial -->

                    <div class="testimonial transparent">
                        <blockquote>
                            <figure>
                                <img src="assets/images/testimonials/user2.jpg" alt="Simmon Salute">
                            </figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti doloribus sapiente aliquam incidunt, nostrum voluptas unde dolor quam possimus omnis deserunt magni itaque saepe sunt. Autem neque a laborum provident.</p>
                            <cite>Simmon Salute</cite>
                        </blockquote>
                    </div><!-- End .testimonial -->

                    <div class="testimonial transparent">
                        <blockquote>
                            <figure>
                                <img src="assets/images/testimonials/user3.jpg" alt="Michael Jordan">
                            </figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti doloribus sapiente aliquam incidunt, nostrum voluptas unde dolor quam possimus omnis deserunt magni itaque saepe sunt. Autem neque a laborum provident.</p>
                            <cite>Michael Jordan</cite>
                        </blockquote>
                    </div><!-- End .testimonial -->
                </div><!-- End .testimonials-slider -->

            </div><!-- End .testimonials-wrapper -->
        </div><!-- end .container -->
        <div class="overlay custom2"></div><!-- End .overlay -->
    </div><!-- End .testimonial-container -->

    <div class="mb50"></div><!-- margin -->

    <div class="container">
        <h2 class="title text-center mb35">Latest Projects</h2>
        <div class="portfolio-row">
            <div id="portfolio-item-container" class="popup-gallery max-col-3">
                <div class="portfolio-item web-design wordpress">
                    <figure>
                        <img src="assets/images/portfolio/masonry/item1.jpg" alt="Portfolio Name">
                        <figcaption>
                            <a href="assets/images/portfolio/masonry/item1.jpg" data-thumb="assets/images/portfolio/masonry/item1.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-meta">
                        <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                        <div class="portfolio-tags">
                            <a href="#">Design</a>,
                            <a href="#">Wordpress</a>,
                            <a href="#">Logo</a>
                        </div><!-- End .portfolio-tags -->
                    </div><!-- End .portfolio-meta -->
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item web-design video marketing">
                    <figure>
                        <img src="assets/images/portfolio/masonry/item2.jpg" alt="Portfolio Name">
                         <figcaption>
                            <a href="http://www.youtube.com/watch?v=jt8YicG-F6c" data-thumb="assets/images/portfolio/masonry/item2.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-meta">
                        <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                        <div class="portfolio-tags">
                            <a href="#">Video</a>,
                            <a href="#">Wordpress</a>,
                            <a href="#">Logo</a>
                        </div><!-- End .portfolio-tags -->
                    </div><!-- End .portfolio-meta -->
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item web-design wordpress">
                    <figure>
                        <img src="assets/images/portfolio/masonry/item3.jpg" alt="Portfolio Name">
                        <figcaption>
                            <a href="assets/images/portfolio/masonry/item3.jpg" data-thumb="assets/images/portfolio/masonry/item3.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-meta">
                        <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                        <div class="portfolio-tags">
                            <a href="#">Design</a>,
                            <a href="#">Wordpress</a>,
                            <a href="#">Logo</a>
                        </div><!-- End .portfolio-tags -->
                    </div><!-- End .portfolio-meta -->
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item web-design wordpress">
                    <figure>
                        <img src="assets/images/portfolio/masonry/item4.jpg" alt="Portfolio Name">
                        <figcaption>
                            <a href="assets/images/portfolio/masonry/item4.jpg" data-thumb="assets/images/portfolio/masonry/item4.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-meta">
                        <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                        <div class="portfolio-tags">
                            <a href="#">Design</a>,
                            <a href="#">Wordpress</a>,
                            <a href="#">Logo</a>
                        </div><!-- End .portfolio-tags -->
                    </div><!-- End .portfolio-meta -->
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item logo-design video marketing">
                    <figure>
                        <img src="assets/images/portfolio/masonry/item5.jpg" alt="Portfolio Name">
                        <figcaption>
                            <a href="assets/images/portfolio/masonry/item5.jpg" data-thumb="assets/images/portfolio/masonry/item5.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-meta">
                        <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                        <div class="portfolio-tags">
                            <a href="#">Design</a>,
                            <a href="#">Wordpress</a>,
                            <a href="#">Logo</a>
                        </div><!-- End .portfolio-tags -->
                    </div><!-- End .portfolio-meta -->
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item illustration wordpress">
                    <figure>
                        <img src="assets/images/portfolio/masonry/item6.jpg" alt="Portfolio Name">
                        <figcaption>
                            <a href="assets/images/portfolio/masonry/item6.jpg" data-thumb="assets/images/portfolio/masonry/item6.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-meta">
                        <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                        <div class="portfolio-tags">
                            <a href="#">Design</a>,
                            <a href="#">Wordpress</a>,
                            <a href="#">Logo</a>
                        </div><!-- End .portfolio-tags -->
                    </div><!-- End .portfolio-meta -->
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item video marketing">
                    <figure>
                        <img src="assets/images/portfolio/masonry/item7.jpg" alt="Portfolio Name">
                        <figcaption>
                            <a href="assets/images/portfolio/masonry/item7.jpg" data-thumb="assets/images/portfolio/masonry/item7.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-meta">
                        <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                        <div class="portfolio-tags">
                            <a href="#">Design</a>,
                            <a href="#">Wordpress</a>,
                            <a href="#">Logo</a>
                        </div><!-- End .portfolio-tags -->
                    </div><!-- End .portfolio-meta -->
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item wordpress">
                    <figure>
                        <img src="assets/images/portfolio/masonry/item8.jpg" alt="Portfolio Name">
                        <figcaption>
                            <a href="assets/images/portfolio/masonry/item8.jpg" data-thumb="assets/images/portfolio/masonry/item8.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-meta">
                        <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                        <div class="portfolio-tags">
                            <a href="#">Design</a>,
                            <a href="#">Wordpress</a>,
                            <a href="#">Logo</a>
                        </div><!-- End .portfolio-tags -->
                    </div><!-- End .portfolio-meta -->
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item web-design logo-design">
                    <figure>
                        <img src="assets/images/portfolio/masonry/item9.jpg" alt="Portfolio Name">
                        <figcaption>
                            <a href="assets/images/portfolio/masonry/item9.jpg" data-thumb="assets/images/portfolio/masonry/item9.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                        </figcaption>
                    </figure>
                    <div class="portfolio-meta">
                        <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                        <div class="portfolio-tags">
                            <a href="#">Design</a>,
                            <a href="#">Wordpress</a>,
                            <a href="#">Logo</a>
                        </div><!-- End .portfolio-tags -->
                    </div><!-- End .portfolio-meta -->
                </div><!-- End .portfolio-item -->
            </div><!-- End .portfolio-item-container -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="bg-dark text-muted pt60 pb60">
        <h2 class="title text-white text-center mb35">Get In Touch</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form action="#" method="post" id="contact-form">
                        <div class="row row-sm">
                            <div class="col-md-6">
                                <label>Name</label>
                                <input type="text" class="form-control" id="contactname" name="contactname" placeholder="Name" required>
                            </div><!-- End .col-md-6 -->
                            <div class="col-md-6">
                                <label>Email</label>
                                <input type="email" class="form-control" id="contactemail" name="contactemail" placeholder="Email" required>
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                        <div class="row row-sm">
                            <div class="col-md-6">
                                <label>Website</label>
                                <input type="url" class="form-control" id="contactwebsite" name="contactwebsite"  required>
                            </div><!-- End .col-md-6 -->
                            <div class="col-md-6">
                                <label>Subject</label>
                                <input type="text" class="form-control" id="contactsubject" name="contactsubject" placeholder="Subject">
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->

                        <div class="row">
                            <div class="col-md-12">
                                <label>Message</label>
                                <textarea class="form-control" rows="6" id="contactmessage" name="contactmessage" placeholder="Message" required></textarea>
                            </div><!-- End .col-md-12 -->
                        </div><!-- End .row -->

                        <input type="submit" class="btn btn-custom min-width" data-loading-text="Sending Message..." value="Send Message">
                    </form>

                    <div class="mb30"></div>
                </div><!-- End .col-md-8 -->

                <div class="clearfix mb25 visible-sm visible-xs"></div><!-- margin -->

                <div class="col-md-4">
                    <div id="map"></div><!-- end #map -->
                </div><!-- end .col-md-4 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div class="container">
            <hr class="mt30 mb40">
        </div><!-- End .container -->

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="contact-info-area">
                        <i class="fa fa-map-marker"></i>
                        <address>Lucky Street, Hollywood Blvd, <br> Los Angeles, CA, USA </address>
                        <p><strong>Call Us:</strong> +01 010 554 11 22</p>
                        <p><strong>Email:</strong> <a href="mailto:#">madeup@gmail.com</a></p>
                    </div><!-- End .contact-info-area -->
                </div><!-- End .col-sm-4 -->
                
                <div class="col-sm-4">
                    <div class="contact-info-area">
                        <i class="fa fa-map-marker"></i>
                        <address>Lucky Street, Hollywood Blvd, <br> Los Angeles, CA, USA </address>
                        <p><strong>Call Us:</strong> +01 010 554 11 22</p>
                        <p><strong>Email:</strong> <a href="mailto:#">madeup@gmail.com</a></p>
                    </div><!-- End .contact-info-area -->
                </div><!-- End .col-sm-4 -->

                <div class="col-sm-4">
                    <div class="contact-info-area">
                        <i class="fa fa-map-marker"></i>
                        <address>Lucky Street, Hollywood Blvd, <br> Los Angeles, CA, USA </address>
                        <p><strong>Call Us:</strong> +01 010 554 11 22</p>
                        <p><strong>Email:</strong> <a href="mailto:#">madeup@gmail.com</a></p>
                    </div><!-- End .contact-info-area -->
                </div><!-- End .col-sm-4 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .bg-dark -->

    <div class="bg-custom2 pt50 pb45 pt45-xs">
        <div class="container text-center">
            <h3 class="text-white mb25">Do you want to work with us? Come on hire us now!</h3>
            <a href="#" class="btn btn-lg btn-border btn-white min-width">Get in touch</a>
        </div><!-- End .container -->
    </div><!-- End .bg-custom2 -->

</div><!-- End .main -->

<footer class="footer">
    <div class="container">
        <div class="row">
            
            <div class="col-md-4">
                <div class="widget about-widget">
                    <img src="assets/images/footer-logo.png" alt="Simple Footer Logo">
                    <div class="mb25"></div><!-- margin -->
                    <p>We create themes and templates with bootstrap framework. for you</p>
                    <address>
                        <label>Get In Touch:</label> <br>
                        221B Baker St, Marylebone, London UK<br><br>
                        +1 (355) 800 08 80<br>
                        <a href="mailto:#">madeup@gmail.com</a>
                    </address>
                </div><!-- End .widget -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="widget">
                    <h4 class="widget-title">Tagcloud</h4>
                    <div class="tagcloud">
                        <a href="#">Design</a>
                        <a href="#">Develop</a>
                        <a href="#">Seo</a>
                        <a href="#">jQuery</a>
                        <a href="#">Wordpress</a>
                        <a href="#">Angular</a>
                        <a href="#">Node</a>
                        <a href="#">Express</a>
                        <a href="#">Gulp</a>
                        <a href="#">Sass</a>
                        <a href="#">Bootstrap</a>
                        <a href="#">Html5</a>
                        <a href="#">Css3</a>
                        <a href="#">Node</a>
                        <a href="#">Retina</a>
                        <a href="#">Sprites</a>
                        <a href="#">Html5</a>
                        <a href="#">Css3</a>
                        <a href="#">Node</a>
                        <a href="#">Seo</a>
                        <a href="#">jQuery</a>
                        <a href="#">Sass</a>
                        <a href="#">Retina</a>
                        <a href="#">Sprites</a>
                        <a href="#">Html5</a>
                        <a href="#">Css3</a>
                    </div><!-- End .tagcloud -->
                </div><!-- End .widget -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="widget newsletter-widget">
                    <h4 class="widget-title">Subscribe</h4>
                    <p>Sequi consectetur laboriosam dolorem culpa sed at, non nesciunt ipsa rem fugiat sit, modi voluptatibus praes</p>
                    <form action="#">
                        <input type="email" class="form-control" placeholder="Join our newsletter" required>
                        <input type="submit" class="btn btn-custom" value="Subscribe">
                    </form>
                    <p>* We won't share it with third party.</p>
                </div><!-- End .widget -->
            </div><!-- End .col-md-4 -->
                
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="footer-bottom text-center">
        <div class="container">
            <div class="social-icons">
                <label>Find Us:</label>
                <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="social-icon" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                <a href="#" class="social-icon" title="Flickr"><i class="fa fa-flickr"></i></a>
                <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                <a href="#" class="social-icon" title="Ge"><i class="fa fa-ge"></i></a>
                <a href="#" class="social-icon" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                <a href="#" class="social-icon" title="Amazon"><i class="fa fa-amazon"></i></a>
                <a href="#" class="social-icon" title="Codepen"><i class="fa fa-codepen"></i></a>
            </div><!-- End .social-icons -->
            <p class="copyright">Simple template - All rights reserved - 2016 &copy; Made by <a href="http://eonythemes.com" target="_blank" title="eonythemes">eonythemes</a>.</p>
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End #wrapper -->

<a id="scroll-top" href="#top" title="Scroll top"><i class="fa fa-angle-up"></i></a>

<script type="text/javascript">
jQuery(document).ready(function() {
    "use strict";

    var revapi;
    if ( $("#rev_slider").revolution == undefined ) {
        revslider_showDoubleJqueryError("#rev_slider");
    } else {
        revapi = $("#rev_slider").show().revolution({
            sliderType: "standard",
            jsFileLocation: "assets/js/",
            sliderLayout: "auto",
            dottedOverlay:"none",
            delay: 15000,
            navigation: {
                mouseScrollNavigation: "off",
                onHoverStop: "off",
                touch: {
                    touchenabled: "on"
                },
                arrows: {
                    style: "hebe",
                    enable: true,
                    hide_onmobile: false,
                    hide_onleave: false,
                    hide_under: 767,
                    tmp: '',
                    left: {
                        h_align: "left",
                        v_align: "center",
                        h_offset: 0,
                        v_offset: 0
                    },
                    right: {
                        h_align: "right",
                        v_align: "center",
                        h_offset: 0,
                        v_offset: 0
                    }
                },
                bullets: {
                    enable: false
                },
                thumbnails: {
                    style: "hesperiden",
                    enable: true,
                    width: 100,
                    height: 50,
                    min_width: 100,
                    wrapper_padding: 5,
                    wrapper_color: "transparent",
                    wrapper_opacity: "1",
                    tmp: '<span class="tp-thumb-image"></span><span class="tp-thumb-title">{{title}}</span>',
                    visibleAmount: 5,
                    hide_onmobile: false,
                    hide_under: 992,
                    hide_onleave: false,
                    direction: "vertical",
                    span: false,
                    position: "inner",
                    space: 10,
                    h_align: "right",
                    v_align: "bottom",
                    h_offset: 15,
                    v_offset: 20
                }
            },
            responsiveLevels: [1200,992,768,480],
            gridwidth: [1170,970,750,480],
            gridheight: [600,520,450,340],
            lazyType: "smart",
            spinner: "spinner2",
            parallax: {
                type: "off",
                origo: "slidercenter",
                speed: 2000,
                levels: [2,3,4,5,6,7,12,16,10,50],
                disable_onmobile: "on"
            },
            debugMode: false
        });
    }
});
</script>