<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center"><%= @therapy.title %></h2>
  </div>
</div>

<div class="section-wrapper mb30 pt40">
  <%= render partial: 'components/component', locals: { component: @therapy, name: 'therapy' } %>
</div>