<div class="jumbotron bg-custom text-white">
  <div class="container-fluid">
    <h2 class="text-center">Therapy</h2>
  </div>
</div>

<div class="pb45 pt45-xs">
  <div class="section-wrapper">
    <h3 class="title text-center">Short Term Therapy</h3>

    <p>Paramount of Oak Park welcomes many residents who only stay with us for a short time.</p>

    <p>We have designed a state-of-the-art therapy unit, with the focus on our residents who require a short term stay.  No matter how long our residents stay with us, we proudly offer the finest in health care, social services, and all types of rehabilitative therapy.</p>

    <p>Paramount of Oak Park features a brand new wing for short term Rehabilitation. The brand new rooms have been redesigned for a comfortable short term stay. Our new wing also consists of a private dining room and access to the new walk in tub.</p>

    <p>Our Therapy programs, designed for your needs, include but are not limited to the following: Orthapedic Therapy, Cardiac Therapy, Wound therapy, Parkinson’s disease Therapy, Huntington’s disease therapy, and Post-Stroke rehabilitation.</p>

    <p>Paramount is pleased to announce a new Pulmonary Rehabilitation wing opening in March 2017. Led by Pulmonologist, Dr. Brahma Gupta,  Paramount will be opening a wing devoted to Tracheostomy care. Working hand in hand with Dr. Gupta, Paramount will provide the highest quality Pulmonary and Tracheostomy care.</p>
    <br>

    <h3 class="title text-center">Physical Therapy</h3>

    <p>Our therapy department is designed to suit various levels of cognitive and physical ability. After a thorough evaluation and discussion with our professional staff, we will design a therapy program that meets your needs.</p>

    <p>Then, we will continuously monitor that program to assess whether any changes need to be made along the way.</p>

    <p>We proudly offer the Omnicycle Elite Motorized Rehabilitation System, Ultrasound therapy, and ESTIM therapy.</p>
    <br>

    <h3 class="title text-center">Occupational Therapy</h3>

    <p>Our residents are offered a wide array of occupational therapy treatments. These treatments are designed and geared to each patient as an individual, and help make the resident feel more confident and comfortable with daily activities.</p>
    <br>
    
    <h3 class="title text-center">Speech Therapy</h3>

    <p>Many of our residents receive speech therapy from our highly trained specialists.  We pride ourselves in the accomplishments of our residents, and celebrate each new victory with them as they progress throughout the therapy sessions.</p>

    <p>Our Therapists have specialized training in LSVT BIG and LOUD treatment, providing post-stroke and Parkinson’s disease therapy. Please see lsvtglobal.com for more information.</p>
  </div>
</div>