<% title 'Paramount|Wound Care' %>
<% meta_description 'Paramount of Oak Park offers the latest techniques and therapies for wound care.  Our team is specially trained in this area...' %>

<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center"><%= @wound_care.title %></h2>
  </div>
</div>

<div class="section-wrapper mb20 pt30">
  <%= render partial: 'components/component', locals: { component: @wound_care, name: 'wound_care' } %>
</div>

