<div class="jumbotron bg-custom text-white">
  <div class="container-fluid">
    <h2 class="text-center"><%= @wound_care.title %></h2>
  </div>
</div>

<div class="section-wrapper mb20">
  <%= render partial: 'components/component', locals: { component: @wound_care, name: 'wound_care' } %>
</div>

