<div class="container-fluid">
  <div class="row pt30">
    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-offset-3">
      <table class="table table-responsive table-bordered">
        <tr>
          <td class="table-col-width"><b>Name:</b></td>
        <!-- </tr>
        <tr> -->
          <td><p><%= @contact.first_name %></p></td>
        </tr>

        <tr>
          <td class="table-col-width"><b>Email:</b></td>
        <!-- </tr>
        <tr> -->
          <td><p><%= @contact.email %></p></td>
        </tr>

        <tr>
          <td class="table-col-width"><b>Message:</b></td>
        <!-- </tr>
        <tr> -->
          <td><p><%= @contact.message %></p></td>
        </tr>
      </table>
    </div>
  </div>
</div>