<div class="container">
  <div class="row pt30">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <table class="table table-responsive">
        <tr>
          <b>Name:</b>
        </tr>
        <tr style="padding-bottom: 10px">
          <p><%= @contact.first_name %></p>
        </tr>

        <tr>
          <b>Email:</b>
        </tr>
        <tr style="padding-bottom: 10px">
          <p><%= @contact.email %></p>
        </tr>

        <tr>
          <b>Message:</b>
        </tr>
        <tr>
          <p><%= @contact.message %></p>
        </tr>
      </table>
    </div>
  </div>
</div>