<table>
  <tr>
    <b>Name:</b>
  </tr>
  <tr style="padding-bottom: 10px">
    <p><%= @contact.first_name %></p>
  </tr>

  <tr>
    <b>Message:</b>
  </tr>
  <tr>
    <p><%= @contact.message %></p>
  </tr>
</table>