<table>
  <tr>
    <td>
      First Name:
    </td>

    <td>
      <%= @tour.first_name %>
    </td>
  </tr>

  <tr>
    <td>
      Tour Date:
    </td>

    <td>
      <%= @tour.tour_date %>
    </td>
  </tr>

  <tr>
    <td>
      Tour Time:
    </td>

    <td>
      <%= @tour.tour_time %>
    </td>
  </tr>
</table>