/*@import 'bootstrap';*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

$green: #54B94A;
$purple: #512E91;
$light-purple: #B9ABD3;

body, p, label, li, input, a {
  font-size: 1.7rem !important;
}

.admin-button {
  background: $green;
}

.admin-button:hover {
  background: $purple;
}

.admin-button-lg {
  width:100%;
  margin-bottom: 5px;
}

.checklist ul {
  padding: 20px;
}

.checklist li {
  display: block;
}

.checklist li:before {
  content: "\e013";
  font-family: "Glyphicons Halflings";
}

.flatpickr-input {
  background: white !important;
}

.full-circle {
  background-color: #512E91;
  text-align: center;
  height: 150px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 150px;
  margin: auto;
}

.section-heading {
  padding: 30px 5px 10px 5px;
}

.section-heading h2 {
  font-size: 3em;
  color: white;
}

select {
  line-height: 34px;
  height: 34px;
  width: 100%;
  margin-bottom: 5px;
  background: #fff;
}

/*.field_with_errors {
  @extend .has-error;
 }*/

.section-wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 10px;
}

footer {
  padding: 0 20px;
}

.links-widget {
  padding-left: 15px;
}

.invisible {
  display: none;
}

.purplebg {
  background-color: $light-purple;
}

.button {
  padding: 7px 12px;
  margin: 2px;
  border: none;
}

.tour-button {
  background-color: $green;
}

.tour-button:hover {
  background-color: $light-purple;
}

.min-height {
  height: 40vh;
}